@model object

@{
    ViewBag.Title = "Главная";
    Layout = "_Layout";
}


<div>
        <div class="blog-post-title-custom">Главная<hr /></div>
    <div class="main-text-content">
        ПРосто текст
    </div>

</div>