.custom-table .actions {
    width: 60px;
    min-width: 60px;
}

.font-green {
    color: #34bfa3;
    background-color: transparent;
    background-image: none;
    border-color: #34bfa3;
}

.font-red {
    color: #f4516c;
    background-color: transparent;
    background-image: none;
    border-color: #f4516c;
}

.m-form .m-form__actions {
    padding: 15px;
}
